@charset "utf-8";
body{ font-family:"宋体"; font-size:12px;} 
*{ margin:0; padding:0}
a{ text-decoration:none;}
li{ list-style:none;}
p{ text-indent:2em;}
.clear{ clear:both;}
img{ border:none;}
.header { background:#f0f0f0; line-height:38px; color:#909090; min-width:1000px;
}
.header1{ width:1000px; margin:auto; overflow:hidden;}
.header1 span{ float:left;}
.header1 img{ float: right;}
.top{ width:1300px; margin:auto; height:97px; overflow: hidden;}
.top img{ margin-left:150px;float:left;}
.top .nav{ margin-top:38px; float:right;}
.top .nav li{ float:left;}
.top .nav li a{ display:block; font-family:"微软雅黑"; font-size:14px; color:#7c7c7c; line-height:35px; padding-left:13px; padding-right:13px; border-radius:3px; margin:auto 10px;}
.top .nav li a:hover{ background:#340c70; color:#fff;}
.baner{ width:100%; min-width:1000px;}
.content{ width:1000px; margin:auto; overflow:hidden;}
.gywm ul{ width:318px; float:left; margin:auto 7px;}
.gywm li{ width:318px;}
.gywm .liy{ padding-bottom:10px; padding-top:22px; height:14px; padding-right:5px;}
.gywm .liy span{ font-family:"微软雅黑"; font-size:14px; color:#656464; float:left; padding-left:12px;}
.gywm .liy a{ float:right; font-family:Arial, Helvetica, sans-serif; font-weight:bolder; color:#a5a5a5;}
.gywm .lie{ width:318px; height:150px; border-radius:4px; box-shadow:#999 5px 5px 10px; }
.gywm .lis a{ line-height:24px; color:#6c6c6c;}
.gywm .lis { width:311px; padding-left:2px; padding-right:5px; padding-top:10px;}

.qyxw ul{ width:318px; float:left; margin:15px 7px 30px;}
.qyxw .y { line-height:35px; overflow:hidden; background:url(../images/index_12.png); border:1px solid #d3d3d3;}
.qyxw .y span{ font-family:"微软雅黑"; font-size:14px; color:#656464; float:left; padding-left:12px;}
.qyxw .y a{ float:right; font-family:Arial, Helvetica, sans-serif; font-weight:bolder; color:#a5a5a5; padding-right:5px;}
.qyxw .e { margin:10px auto;}
.qyxw .s{ list-style:url(../images/index_24.png); margin-left:10px;}
.qyxw .s a{ color:#5e5e5e; line-height:24px;}
.qyxw .s span{ float:right;}
.qyxw .lx1{ font-family:"微软雅黑"; font-size:14px; color:#414141; margin-top:-5px; padding-bottom:5px;}
.qyxw .lx2{ line-height:24px; color:#515151;}
.bottom{ min-width:1000px; background:#f3f3f3 url(../images/bott_27.png) 0 64px repeat-x; height:181px;}
.youqing{ width:1000px; margin:auto; padding-top:20px;}
.youqing span{ font-family:"微软雅黑"; font-size:14px; color:#060606; font-weight:bold;}
.youqing a{ color:#696969; margin-left:23px;}
.bottom .gs{ text-align:center; color:#848484; margin-top:50px; line-height:24px;}
.bottom .gs a{ color:inherit;}
.bottom .gs span{ line-height:40px;}
.weiz{ padding-top:16px;line-height:12px; font:#6b6b6b; background:url(../images/nye1_02_05.png) no-repeat 7px 16px; padding-left:25px;}
.ny{ margin:16px auto 34px; width:998px; overflow:hidden; box-shadow: 0 0 12px #f1f1f1;}
.nyl{ margin-left:12px; width:208px; float:left; margin-bottom:92px;}
.nyl a{ color:#696969;}
.nyl .liy{ font:20px "微软雅黑"; font-weight:bold; color:#fff; padding-left:7px; background:#340c70; width:200px; border-radius:3px; line-height:45px; margin-top:16px; margin-bottom:11px;}

.nyl .lie a{ display:block; line-height:30px; height:30px; font:"微软雅黑"; font-size:14px; background: url(../images/nye11_19.png) no-repeat 4px; border:1px solid #d5d5d5; padding-left:24px; width:182px; border-top: none;}
.nyl .li_e a{ display:block; line-height:30px; height:30px; font:"微软雅黑"; font-size:14px; background:url(../images/nye1_02_15.png) no-repeat 4px; border:1px solid #d5d5d5; padding-left:24px; width:182px; color:#340c70}
.nyl .lie a:hover{ background:url(../images/nye1_02_15.png) no-repeat 4px; color:#340c70}
.nyl .lis{ background:url(../images/nye1_02_19.png); line-height:27px; width:176px; padding-left:30px; border:1px solid #d5d5d5; border-top:none; }
.nyl .lix{ font:20px "微软雅黑"; font-weight:bold; color:#fff; padding-left:7px; background:#340c70; width:200px; border-radius:3px; line-height:45px; margin-top:16px;}
.nyl .liw img{ border:1px solid #d5d5d5; padding:1px; border-bottom:none;}
.nyl .lil{ padding-top:5px; color:#7e7e7e; font-family:"微软雅黑"; font-size:14px; border-left:1px solid #d5d5d5; border-right:1px solid #d5d5d5; width:198px; padding-left:8px;}
.nyl .liq{ width:196px; border:1px solid #d5d5d5; border-top:none; color:#5e5e5e; line-height:24px; padding-left:10px; padding-bottom:5px;}
.nyr{ margin-left:20px; float:left; width:738px; overflow:hidden; margin-top:15px; background:url(../images/nye1_02_09.png) no-repeat; padding-left:20px; }
.cptd_img{ padding:3px; border:1px solid #d6d6d6; width:369px; height:327px; float:left;}
.nyr .cptd { float:left;margin-top: 60px;}
.nyr .cptd .li1{ padding-left:43px; font: 18px "微软雅黑"; color:#340c70; line-height:24px; margin-bottom:10px;}
.nyr .cptd .li2{ padding-left:43px; line-height:24px; color:#5f5f5f;}
.nyr .cptd .fenx{ padding-left:30px; margin-top:10px;color:#5f5f5f;}
.nyr .cptd .fenx a{ color:#5f5f5f; padding:0 5px;}
.nyr .cptd .fenx img{ padding:0 5px;}
.nyr .cptd .rx{ padding-left:35px; margin-top:10px;}
.nyr .js{ width:350px; float:left;}
.nyr .js li{ float:left; margin-left:9px;}
.nyr .js .jsimg{ padding:1px; width:88px; height:74px; border:1px solid #d6d6d6; margin-top:13px;}
.nyr .js .jsl{ margin-top:35px;}
.nyr .xuanzhe li{ float:left; margin-top:30px;}
.nyr .xuanzhe a{ margin-right:4px; display:block; width:97px; font-family:"微软雅黑"; font-size:14px; line-height:36px; background:#bcbbbc; text-align:center; color:#fff;}
.nyr .xuanzhe .gn{ color:#303030;}
.nyr .xuanzhe a:hover ,.nyr .xuanzhe .ts{ background:#340c70; color:#fff;}
.nyr .cpt{ margin-bottom:55px;}
.nyr .cpt li{ margin-top:25px;}
.cp li{ float:left; margin-left:8px; margin-bottom:30px;}
.cp a{ display:block; width:220px; height:175px; padding:4px 9px 8px 8px; background:url(../images/nye_05.png) no-repeat; }
.cp a:hover{ background:url(../images/nye_03.png) no-repeat;}
.yeshu{ margin-right:10px; float:right;}
.yeshu li{ float: right;}
.yeshu a{ display:block; background:url(../images/yeshu_19.png); line-height:18px; padding-left:6px;padding-right:6px; font-size:10px; margin:auto 3px; font-weight:bold; color:#888888; border:#e1e1e1 1px solid;}
.yeshu a:hover { color:#178ada}
/* 新闻页面 */
.contents{ float:left; width:700px;min-height:300px;_height:300px;padding:10px;line-height:200%;margin-left: 50px;}
.contents ul li{ border-bottom:1px dotted #999;width:100%;line-height:34px;height:34px;margin:0;padding:0; }
.contents ul li a{ text-decoration:none;}